[Unit]
Description=Littlstar Ara Rewards API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
Environment="ENV=" "DID=" "pwd="
Environment="NODE_PATH=/home/ubuntu/.npm-global/lib/node_modules"
ExecStart=/home/ubuntu/.npm-global/bin/ann -t ara-identity-server --password ''

[Install]
WantedBy=multi-user.target
