[Unit]
Description=Littlstar Ara Rewards API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
Environment="ENV=staging" "DID=did:ara:89b83d3deab9507889710bb5dbaf5e863435c05193dcb128f6488e0bd42a492b" "pwd='Reve!!er'"
ExecStart=/home/ubuntu/.nvm/versions/node/v10.16.0/bin/ann -t /home/ubuntu/ara-identity-server/. --password 'L!tt1star@123'

[Install]
WantedBy=multi-user.target
