[Unit]
Description=Littlstar Ara Rewards API
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/ubuntu/.nvm/versions/node/v10.16.0/bin/ann -t /home/ubuntu/ara-identity-server/.
Environment="NODE_PATH=/root/node_modules"

[Install]
WantedBy=multi-user.target
